* {
	padding: 0;
	margin: 0 ;
}

.page__text {
	position: absolute;
	left: 50%;
	top: 50%;
	display: block;
	padding: 5px;
	border: 5px solid #962846;
	transform: translate(-50%,-50%);
}

.page__text:focus {
	outline: none;
}

.page__button {
	position: absolute;
	left: 65%;
	top: 50%;
	padding: 5px;
	border: 3px solid black;
	background: #452993;
}

.page__answer-window {
	margin: 100px 0 0 100px;
	padding: 5px;
	width: 300px;
	height: 75px;
	border: 5px solid #359202;
	background: #aaa;
}
